body {
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #000;
    overflow-x: hidden;
}

p {
    font-size: 1.25rem;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.bhbutton {
    padding: 1rem 2rem;
    background: #7733FF;
    border: none;
    border-radius: 28px;
}

.bhbutton:hover {
    background: #6a2fe2;
}

body > header {
    height: 100vh;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;

    @media (max-width: 768px) {
        background: none;
    }

    >.container {
        height: 100%;
        position: relative;
    }

    .jumbo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 0;
        position: absolute;
        top: 0;
        width: 100%;

        .logo {
            height: 4rem;
        }

        .left {
            display: flex;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: inherit;
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .right {
            display: flex;
            align-items: center;

            .number {
                background: #7733FF;
                border-radius: 50%;
                color: #fff;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
        }
    }

    a {
        padding: 0.5rem 1rem;
        transition: 100ms;

        &:hover {
            color: #7733FF;
        }
    }

    .header-container {
        max-width: 1320px;
        margin: auto;
    }

    .image {
        height: 100%;

        img {
            max-width: 100%;
            margin-top: -5rem;
        }
    }

    .bhbutton {
        margin-top: 2rem;
    }
}

section {
    margin-top: 9rem;
}

section.about {
    .features {
        display: flex;
        align-items: center;

        p {
            font-weight: 700;
            text-align: center;
        }

        img {
            height: 100px;
            margin-bottom: 1rem;
        }

        .col-md-4 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 768px) {
        .features {
            margin-top: 1.5rem;
        }

        .icon {
            margin-top: 1.5rem;
        }
    }
}

section.nature {
    color: #fff;
    background-color: #7733ff;
    padding: 8rem 0;
    text-align: right;
    background-image: linear-gradient(rgba(82, 35, 174, 0.4), rgba(82, 35, 174, 0.4)), url('./background-nature.jpg');
    background-attachment: fixed;
    background-size: cover;

    @media (max-width: 768px) {
        text-align: center;
    }

    .bhbutton {
        margin-top: 2rem;
    }
}

section.reviews {
    h2 {
        margin-bottom: 0rem;
    }

    > .container {
        margin-top: 2rem;
    }

    .review {
        border-radius: 20px;
        margin-bottom: 1.5rem;
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);

        header {
            color: #fff;
            padding: 1rem 1.5rem;
            border-radius: 20px 20px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: linear-gradient(to right, #9764FF, #602BC9);

            p {
                font-size: 1rem;
                font-weight: bold;
            }
        }

        .content {
            padding: 1.5rem;

            p {
                font-size: 1rem;
            }
        }
    }
}

section.final {
    .row .row {
        align-items: center;
    }

    img {
        width: 300px;
        max-width: 100%;
    }

    .bhbutton {
        margin-top: 2rem;
    }

    @media (max-width: 768px) {
        img {
            margin-top: 3rem;
        }
    }
}

footer {
    padding: 3rem 0;
    margin-top: 5rem;

    .logo {
        height: 3rem;
    }

    .col-md-6 {
        display: flex;
        align-items: center;
    }

    .left {
        p {
            font-size: 2rem;
            margin-left: 0.5rem;
            font-weight: 800;
            letter-spacing: 0px;
        }
    }

    .right {
        display: flex;
        justify-content: flex-end;

        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;

            li::after {
                margin: 0 0.5rem;
                content: '-';
                display: inline-block;
            }

            li:last-child::after {
                display: none;
            }

            li {
                a {
                    color: inherit;
                    opacity: 0.5;
                    text-decoration: none;
                    transition-duration: 250ms;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}